[
  {rabbit, [
    {% if rabbitmq_clustered -%}
    {cluster_nodes, {[
      {%- for host in groups[rabbitmq_group] -%}
      'rabbit@{{ hostvars[host].ansible_hostname }}'{% if not loop.last %}, {% endif %}
      {%- endfor -%}
    ], disc}},
    {cluster_partition_handling, {{ rabbitmq_cluster_partition_handling }}},
    {%- endif %}

    {loopback_users, []}
  ]}
].
